* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    overflow: hidden;
    text-align: center;
}

#mainCanvas {
    background-color: lightgray;
}